<html>
<head>
	<title>Web Simcat</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bulma/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
</head>
<body>

	<nav class="nav">
		<div class="container">
			<div class="nav-left">
				<a class="nav-item">
					<img src="assets/img/logo.png" alt="Simcat" />
				</a> 
			</div>

			<div class="nav-center">
				<a class="nav-item">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a class="nav-item">
					<span class="icon">
						<i class="fa fa-twitter"></i>
					</span>
				</a>
			</div>

			<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
			<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>
			<div class="nav-right nav-menu">
				<span class="nav-item">
					<span style="margin-right:5px">Already had an account ? </span>					
					<a class="button is-primary">
						<span>SignUp</span>
					</a>
				</span>
			</div>
		</div>
	</nav>

	<section class="section" id="sec1">
		<div class="container">
			<div class="heading">
				<h1 class="title">Please SignUp!</h1>
				<h2 class="subtitle">
					A simple Chat App with <strong>Powerfull Features</strong>, like the one you're currently reading
				</h2>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="image is-128x128">
						<img src="assets/img/logo.png">
					</div>
				</div>
				<div class="column">
					<form method="post">
						<label class="label">Your Name</label>
						<p class="control">
							<input class="input" type="text" placeholder="Your Name">
						</p>
						<label class="label">Your Email</label>
						<p class="control">
							<input class="input" type="text" placeholder="E-Mail">
						</p>
						<label class="label">Password</label>
						<p class="control">
							<input class="input" type="password" placeholder="Your Password">
						</p>
						<p class="control">
							<button class="button is-primary">SignUp for Free!</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>Simcat</strong> @ 2017</a>. The source code is licensed
					by <a href="http://codenergic.github.io"> Codenergic</a>.
				</p>
				<p>
					<a class="icon" href="https://github.com/jgthms/bulma">
						<i class="fa fa-github"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
</body>
</html>